*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body,html{
    overflow-x: hidden;
}
.showcase{
    right: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    transition: .3s;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000000;
    background-color: orange;
    mix-blend-mode: overlay;
}
.showcase.active{
    right: 250px;
}
.nav{
    
    display: none;
}
.nav.active{
    display: block;
    right: 0;
    top: 0;
    position: absolute;
    color: #111;
    display: flex;
    height: 100vh;
    width: 250px;
    align-items: center;
    justify-content: center;
    animation: nav .5s linear forwards;
}
@keyframes nav{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    50%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.nav ul{
    list-style-type: none;
}
.nav ul li {
    margin-top: 15px;
}
.nav ul li a{
    text-decoration: none;
    color: #111;
   cursor: pointer;
   transition: .3s;
}
.nav ul li a:hover{
    color: rgb(0, 195, 255);
}

.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 10000000;
    position: absolute;
    padding: 40px 60px;
    animation: header 3s linear forwards;
    
}
@keyframes header{
    0%{
        transform: translateY(-100px);

    }
    100%{
        transform: translateY(0);
    }
}
.header img{
    width: 70px;
    cursor: pointer;
}
.header .menu{
    position: relative;
    cursor: pointer;
    z-index: 100000;
    
}
.menu div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px;
    z-index: 1000000;
}
video{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}
.text{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    max-width: 700px;
    padding: 0px 60px;
    color: #111;
   
}
@keyframes text {
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.text h2{
    font-size: 4em;
    animation-delay: 0s;
    animation: text 4s linear forwards;
    opacity: 0;
}
.text h3{
    animation-delay: 3s;
    font-size: 3em;
    animation-delay: 6s;
    animation: text 3s linear forwards;
    opacity: 0;
}
.text p{
    font-size: 1.2em;
    animation: text 3s linear forwards;
    animation-delay: 3s;
    opacity: 0;
}
.text a{
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 5px;
    color: #111;
    background-color: whitesmoke;
    width: fit-content;
    border-radius: 7px;
    letter-spacing: 1.5pxpx;
    cursor: pointer;
    transition: .3s;
    animation: btn 6s linear forwards;
    opacity: 0;
}
@keyframes btn{
    0%{
        transform: translateY(200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.text a:hover{
    letter-spacing: 5px;
}


@media(max-width:991px){
    .text h2{
        font-size: 3em;
    }
    .text h3{
        font-size: 2em;
    }
    .text p{
        font-size: 1em;
    }
    .text{
        padding: 0px 60px;
        max-width: 500px;
    }
}
@media(max-width:575px){
    .showcase.active{
        right: 0;
    }
    .nav{
        display: block;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: white;
        z-index: 10000;
        font-size: 20px;
        top: -1000px;
        transition: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 40%;
        left: 0;
        right: 0;
    }
    .nav.active{
        top: 0;
        right: 0;
        width: 100vw;
        animation: none;

    }
}
@media(max-width:485px){
    .text h2{
        font-size: 2em;
    }
    .text h3{
        font-size: 1.5em;
    }
    .text p{
        font-size: 1em;
    }
    
}